body {
    margin: 40px 5% 6px 5%;
    color: white;
}

.headBlock {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.footBlock {
    opacity: 0.9;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.page_title {
    padding-top: 80px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.add_page_title {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.headers {
    font-weight: bold;

}

.add {
    width: 100%;
    height:80px;
    font-size: 40px;
    position: relative;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.8);
}

.buttons .delete {
    position: relative;
    font-size: 50px;
    float: right;
    bottom: 0;

}

.buttons .details {
    float: left;
}

.matrixBook {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    margin-left: auto;
    font-size: 35px;

}

/*.listBook {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 100%;
    height: 220px;
    margin-left: auto;
    float: left;
}*/

.detailedBook {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 100%;
    float: left;
}

.detailedBook img {
    margin:0 10px 10px 10px;
    float:left;
}

.matrixBook img {
    margin: 5px;
    height: 300px;
}

/*.listBook img {
    margin: 0px
}*/

.delete {

    padding-top: 5px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.delete:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.libraryContainer {

    background: rgba(0, 0, 0, 0.1);

}

#books {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    width: 100%;
}

.backToLibrary {
    margin-left: 95%;
    font-size: 80px;
    font-weight: bold;
    line-height: 18px;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
    text-decoration: none;
}

#addBook label {
    width: 100%;
    text-align: center;
    font-size: 40px;

}

#addBook input {
    font-size: 40px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height:80px;
    display: block;
    margin-bottom: 30px;

}

#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.addNewBook{
    width:100%;
    height:80px;
    font-size: 35px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
}

.switchers {
    color: white;
    display: none;
}

a:link {
    color: lightgrey;
}

a:visited {
    color: lightgrey;
}

a:hover {
    color: ghostwhite;
}