body {
    margin: 20px 25% 6px 25%;
    background-color:GhostWhite;
}
.page_title {
    margin: 5px;
    text-align: center;
}
.headers {
    font-weight: bold;
}

.bookContainer {
    position:relative;
    outline: 1px solid #aaa;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    margin: auto;
}

.bookContainer img {
    height: 100%;
    float: left;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.bookContainer .buttons {
    width: 95%;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.bookContainer button {
    float: right;
    margin: 5px;
}

#books {
    background-color: white;
}
#addBook label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addBook label, #addBook input {
    display: block;
    margin-bottom: 10px;
    float: left;
}

#addBook label[for="title"], #addBook label[for="releaseDate"] {
    clear: both;
}

#addBook button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addBook div {
    width: 100%;
}

#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}