body {
    margin: 40px 25% 6px 25%;
    background-color:white;
}
.headBlock{
    background-color: black;
    color:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;

}

.page_title {
    margin: 20px;
    text-align: center;
}
.headers {
    font-weight: bold;
}
.add {
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 10px;
}

.backToLibrary{
float:right
}

.buttons .delete{
position: relative;
    float: right;
bottom:0px;

}
.buttons .details {
    float: left;


}

.book{
    background-color: ghostwhite;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 47%;
    height: 220px;
    margin: 5px;
    float:left;
}

.detailedBook{
    background-color: ghostwhite;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    float:left;
}


.book img {
    margin: 5px
}
/*.bookContainer {
    position:relative;
    outline: 1px solid #aaa;
    width: 25%;
    background-color: #fff;
    overflow: auto;
    margin: auto;
}

.bookContainer img {
    height: 100%;
    float: left;
    margin: 10px;
}*/

/*.bookContainer ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.bookContainer .buttons {
    width: 95%;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.bookContainer button {
    float: right;
    margin: 5px;
}*/

.libraryContainer{
    background-color: white;
}

/*#books {
    background-color: white;
}*/

#addBook label {
    width: 100px;
    margin: auto;
    text-align: left;
    line-height: 25px;
}

#addBook label, #addBook input {
    display: block;
    margin-bottom: 10px;
    float: left;
}



#addBook button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

/*#addBook div {
    width: 100%;
}*/

#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}