body {
    margin: 40px 25% 6px 25%;
    color: white;
}

.headBlock {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;

}

.footBlock {
    opacity: 0.8;
    background-color: gray;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}

.page_title {
    margin: 20px;
    text-align: center;
    color: white;
}

.headers {
    font-weight: bold;
}

.add {
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.buttons .delete {
    position: relative;
    float: right;
    bottom: 0px;

}

.buttons .details {
    float: left;
}

.matrixBook {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 50%;
    height: 220px;
    margin-left: auto;
    float: left;
}

.listBook {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 100%;
    height: 220px;
    margin-left: auto;
    float: left;
}

.detailedBook {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    width: 100%;
    float: left;
}

.detailedBook img {
    margin:0 10px 10px 10px;
    float:left;
}

.matrixBook img {
    margin: 5px
}

.listBook img {
    margin: 5px
}

.delete {

    padding-top: 5px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.delete:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.libraryContainer {

    background: rgba(0, 0, 0, 0.1);

}

#books {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    width: 100%;
}

.backToLibrary {
    margin-left: 97%;
    font-size: 25px;
    font-weight: bold;
    line-height: 18px;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
    text-decoration: none;
}

#addBook label {
    width: 200px;
    padding-left: 100px;
    float: left;
}

#addBook input {
    float: left;
    background: rgba(0, 0, 0, 0);
    width: 300px;
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
}

#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.addNewBook{
    width:70%;
    margin-left: 15%;
    margin-bottom: 20px;
background: rgba(0, 0, 0, 0.7);
}

#switchers {
    color: white;
}

a:link {
    color: lightgrey;
}

a:visited {
    color: lightgrey;
}

a:hover {
    color: ghostwhite;
}