<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Backbone.js Library</title>
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>
<h1 class="page_title">Backbone Book Library</h1>
<div id="books">
    <form id="addBook" action="#">
        <div>
            <label for="coverImage">CoverImage: </label><input id="coverImage" type="file"/>
            <label for="title">Title: </label><input id="title" type="text"/>
            <label for="author">Author: </label><input id="author" type="text"/>
            <label for="releaseDate">Release date: </label><input id="releaseDate" type="text"/>
            <label for="description">Description: </label><input id="description" type="text"/>
            <label for="keywords">Keywords: </label><input id="keywords" type="text"/>
            <button id="add">Add</button>
        </div>
    </form>
</div>

<script id="bookTemplate" type="text/template">
    <img src="<%= coverImage %>"/>
    <ul>
        <li><span class="headers">Title: </span> <%= title %></li>
        <li><span class="headers">Author: </span><%= author %></li>
        <li><span class="headers">Release date: </span><%= releaseDate %></li>
        <li><span class="headers">Description: </span><%= description %></li>
        <li><span class="headers">Keywords: </span><%= keywords %></li>
    </ul>
    <div class="buttons">
        <button class="delete">Delete</button>
        <button class="details">Details</button>
    </div>
</script>
<script data-main="js/config" src="lib/requirejs.js"></script>
</body>
</html>