<div id="books">
    <a class="backToLibrary" href="/#library"> x  </a>
    <form id="addBook">

            <h2 class="page_title">Fill in book information</h2>

            <% _.each(fields, function(field) { %>


                <div><label for="<%= field.id %>" ><%= field.title %>: </label><input id="<%= field.id %>" type="text" class="input-aa"></div>
                <!--<div><label for="coverImage">CoverImage: </label><input id="coverImage" type="file"></div>-->

            <% }) %>


    </form>

    <div>
        <button class="addNewBook">Add this book</button>

    </div>



</div>
