<div id="books">
    <form id="addBook" action="#">
        <div>
            <h2 class="page_title">Add new book</h2>
            <table>
                <td>
                    <div><label for="title">Title: </label><input id="title" type="text"></div>
                    <div><label for="author">Author: </label><input id="author" type="text"></div>
                    <div><label for="releaseDate">Release date: </label><input id="releaseDate" type="text"></div>
                    <div><label for="coverImage">CoverImage: </label><input id="coverImage" type="file"></div>
                <td>
                    <div><label for="description">Description: </label><input id="description" type="text"></div>
                    <div><label for="keywords">Keywords: </label><input id="keywords" type="text"></div>
                    <div>
                        <button id="add">Add this book</button>
                    </div>
                    <div class="buttons">
                        <a href="/#library"><button class="details">Back to library</button></a>
                    </div>
                </td>


            </table>
        </div>
    </form>
</div>