<div id="books">
    <form id="addBook">
<div>
        <h2 class="page_title">Add new book</h2>
        <table>
            <td>
                <div><label for="title">Title: </label><input id="title" type="text"></div>
                <div><label for="author">Author: </label><input id="author" type="text"></div>
                <div><label for="releaseDate">Release date: </label><input id="releaseDate" type="text"></div>
            </td>
            <td>
                <div><label for="description">Description: </label><input id="description" type="text"></div>
                <div><label for="keywords">Keywords: </label><input id="keywords" type="text"></div>
                <div><label for="coverImage">CoverImage: </label><input id="coverImage" type="file"></div>
            </td>
        </table>
    </div>

    </form>
    <table style="width: 100%;">
        <td>
            <div>
                <button class="addNewBook">Add this book</button>
            </div>
        </td>
        <td>
            <a href="/#library">
                <button class="backToLibrary">Back to library</button>
            </a>
        </td>
    </table>
</div>