<div class="books js-books">
    <a class="back-library" href="/#library">x</a>

    <form class="add-book-form js-addBook">
        <h2 class="add-container-title">Fill in book information</h2>

        <div><label for="title">Title: </label><input id="title" type="text"></div>
        <div><label for="author">Author: </label><input id="author" type="text"></div>
        <div><label for="releaseDate">Release date: </label><input id="releaseDate" type="text"></div>
        <div><label for="description">Description: </label><input id="description" type="text"></div>
        <div><label for="keywords">Keywords: </label><input id="keywords" type="text"></div>
        <!--<div><label for="coverImage">CoverImage: </label><input id="coverImage" type="file"></div>-->
    </form>

    <div>
        <button class="add-book js-add-book">Add this book</button>

    </div>


</div>