<div class="row">
    <div class="col-md-3 col-xs-4">
        <img class="img-responsive img-rounded" src="<%= coverImage %>"/>
    </div>
    <div class="col-md-9 col-xs-8">
        <div class="row">
            <div class="col-md-10 col-xs-9"></div>
            <div class="col-md-2 col-xs-1 text-right"><a class="back-library" href="/#library">x</a></div>
        </div>

        <div class="row">
            <div><span class="book-headers">Title: </span> <a href="/#book/<%= id - 1 %>"><%= title %></a></div>
            <div><span class="book-headers">Author: </span><%= author %></div>
            <div><span class="book-headers">Release date: </span><%= releaseDate %></div>
            <div><span class="headers">Description: </span><%= description %></div>
            <div><span class="book-headers">Keywords: </span><%= keywords %></div>
        </div>
    </div>
</div>
