<div>
    <img src="<%= coverImage %>"/>
</div>
<div>
    <div><a class="delete js-delete">x</a></div>
</div>

<div>
    <ul>
        <li><span class="book-headers">Title: </span> <a href="/#book/<%= id - 1 %>"><%= title %></a></li>
        <li><span class="book-headers">Author: </span><%= author %></li>
        <li><span class="book-headers">Release date: </span><%= releaseDate %></li>
        <!--<li><span class="headers">Description: </span><%= description %></li>-->
        <li><span class="book-headers">Keywords: </span><%= keywords %></li>
    </ul>
</div>



